    <table class="table table-bordered border-primary">
           <tr>
        <th>Full Name</th>
        <th>INN</th>
        <th>Email</th>
        <th>Group</th>
        <th></th>


    </tr>

    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.name|capfirst }}
            <td>{{teacher.inn}}</td>
            <td>{{teacher.email}}</td>
                <td>
                    {% if teacher.group_id %}
                        <a href="{% url 'groups:group' id=teacher.group_id %}">
                            {{teacher.group.name }}
                        </a>
                    {% else %}
                        <i>Empty</i>
                    {% endif %}
                </td>

            <td><a href="{% url 'teachers:edit_teachers' id=teacher.id %}">✎</a>
            <a href="{% url 'teachers:delete_teachers' id=teacher.id %}">␥</a></td>

        </tr>
    {% endfor %}
    </table>