{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create teacher{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <button type="submit">Create Teacher</button>
        </p>
    </form>
{% endblock %}