{% extends '_base.html' %}
{% block title %}Delete teacher{% endblock %}
{% block main %}
    <form method="post">
        {% csrf_token %}
        <p> Do you want to delete teacher {{ teacher.name }} ?<p>
            <button class="btn btn-danger" type="submit">Delete</button>
             <a class="btn btn-info" href="{% url 'teachers:list_teachers' %}">Cancel</a>
        </p>
    </form>
{% endblock %}