{% extends '_base.html' %}
{% block title %}View teachers{% endblock %}
{% load crispy_forms_tags %}
{% block main %}
    <form>
        <p>Search teachers</p>
        {{ filter.form|crispy }}
        <p>
            <button class="btn btn-light text-info" type="submit">Search</button>
        </p>
    </form>
    <br>
    <a class="btn btn-light text-primary" href="{% url 'teachers:create_teachers' %}">Add new teacher</a>
    <br>
    <p> </p>
    {% include 'teachers/_teachers_list.html' with teachers=filter.qs|slice:":20" %}
{% endblock %}
