{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <style type="text/css">


    </style>
</head>
<body>
{% include '_header_menu.html' %}

<div class="container">
    {% include '_messages.html' %}
    {% block main %}
    {% endblock %}
</div>
</body>
</html>