{#<a href="/">LMS</a> | <a href="{% url 'students:list_students' %}">Students</a>#}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid bg-primary">
        <div class="container-fluid d-flex p-0">
            <a class="navbar-brand" href="/">LMS</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'students:list_students' %}">Students</a>
                    </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'teachers:list_teachers' %}">Teachers</a>
                            </li>
                </ul>
                    <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:profile' %}">{{ user.username }}'s Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">Sign Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}">Sign In</a>
                        </li>
                    {% endif %}
                    </ul>



{#                            <li class="nav-item dropdown">#}
{#                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                                Dropdown#}
{#                              </a>#}
{#                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                                <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                                <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                                <li><hr class="dropdown-divider"></li>#}
{#                                <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                              </ul>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                              <a class="nav-link disabled">Disabled</a>#}
{#                            </li>#}
                </ul>
{#                      <form class="d-flex">#}
{#                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                      </form>#}
            </div>
        </div>
    </div>
</nav>